.btn {
  padding: 20px;
  align-items: center;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  border-radius: 50px;
  border: 2px solid;
  transition: 500ms linear;
  text-decoration: none;
  text-align: center;
}

.btn-sm {
  width: fit-content;
  padding: 12px;
  font-family: "Golos Text", sans-serif;
  border-width: 1px;
  font-size: 16px;
  line-height: 19.2px;
  transition: 500ms;
  border-radius: 50px;
}

.btn-primary {
  background: var(--dark);
  color: var(--white);
  border-color: var(--dark);
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--yellow);
  border-color: var(--yellow);
}

.btn-outline-primary {
  color: var(--dark);
  border-color: var(--dark);
  background: transparent;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: var(--white);
  background: var(--dark);
}

.btn-outline-info {
  color: var(--info);
  border-color: var(--info);
  background: transparent;
}

.btn-outline-info:hover {
  color: var(--white);
  background: var(--info);
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: var(--white);
    border: none;
    border-radius: 50%;
    background: var(--dark);
    transition: 300ms;
}

.btn-icon:hover {
  background: var(--yellow);
}
.btn-icon:disabled {
  background: var(--gray);
}

.link {
  color: var(--info);
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.link:hover,
.link:focus {
  opacity: .8;
}

@media (max-width: 568px) {
  .link {
    font-size: 18px;
    line-height: 21.6px;
    text-decoration: none;
  }

  .btn {
    padding-block: 18px;
  }
}

@media (hover: none) {
  .btn-primary:active,
  .btn-primary:focus {
    background: var(--yellow);
    border-color: var(--yellow);
  }

  .btn-outline-primary:active,
  .btn-outline-primary:focus {
    color: var(--white);
    background: var(--dark);
  }

  .btn-outline-info:active {
    color: var(--white);
    background: var(--info);
  }

  .link:active,
  .link:focus {
    opacity: .8;
  }

  .btn-icon:active {
    background: var(--yellow);
  }
}

.highlight-text {
  color: var(--red);
  font-weight: 500;
}

.line-through {
  text-decoration-color: var(--red);
  text-decoration-line: line-through;
  text-decoration-thickness: 2px
}